/* Estilos para todos os dispositivos */
body {
  background-color: white;
}

.container{
  display: grid;
  grid-template-columns: 10% 1fr 8% 10%;
  align-items: center;
  justify-content: center;
}



button {
  background-color: rgb(243, 196, 42);
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  gap: 10px;
}

.divisoria {
  width: 100%;
  height: 2px;
  background-color: rgb(243, 196, 42);
  position: relative;
  overflow: hidden;
}

.line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 50%, rgb(243, 196, 42) 50%);
  animation: disintegrate 2s linear infinite;
}

@keyframes disintegrate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.botões_de_acesso {
  text-decoration: none;
  color: rgb(243, 196, 42);
  font-size: 13px;
  font-family: arial, sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px;
  gap: 10px;
}

.rede_social {
  text-decoration: none;
  color: rgb(243, 196, 42);
}

.sobre {
  text-decoration: none;
  color: rgb(243, 196, 42);
}

.historia {
  text-decoration: none;
  color: rgb(243, 196, 42);
}

.Página_principal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  margin: 0 1em 0 2em;
}

.imagem {
  width: 50%;
}

.texto {
  width: 50%;
}

/* Media query para dispositivos com largura de tela menor que 600px (geralmente dispositivos móveis) */
@media only screen and (max-width: 600px) {
  
  h1{
    font-size: 14px;
  }

  .container{
    grid-template-columns: 10% 1fr 8% 10%;
    justify-content: center;
  }

  
  
  .Página_principal {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: 0;
  }

  .imagem,
  .texto {
    width: 100%;
  }
}

